header{
    display: flex;
    justify-content:space-evenly;
    margin:10px 10px;
    align-items: center;
    background-color: black;
    color: white;
    
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 200px;
}
@media(max-width:500px){
    body{
        background-color: blue;
        color: white;
    }
}